{% load static %}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Online Voting Portal</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">


        <link rel="stylesheet" href="{% static 'assets/css/welcome/iconfont.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/welcome/slick/slick.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/welcome/slick/slick-theme.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/welcome/stylesheet.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'assets/css/welcome/jquery.fancybox.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/welcome/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/welcome/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/welcome/magnific-popup.css' %}">
        <!--        <link rel="stylesheet" href="assets/css/bootstrap-theme.min.css">-->


        <!--For Plugins external css-->
        <link rel="stylesheet" href="{% static 'assets/css/welcome/plugins.css' %}" />

        <!--Theme custom css -->
        <link rel="stylesheet" href="{% static 'assets/css/welcome/style.css' %}">

        <!--Theme Responsive css-->
        <link rel="stylesheet" href="{% static 'assets/css/welcome/responsive.css' %}" />

        <script src="{% static 'assets/js/welcome/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
    </head>
    <body data-spy="scroll" data-target=".navbar-collapse">

        <div class='preloader'><div class='loaded'>&nbsp;</div></div>
        <div class="culmn">
            <header id="main_menu" class="header navbar-fixed-top">
                <div class="main_menu_bg">
                    <div class="container">
                        <div class="row">
                            <div class="nave_menu">
                                <nav class="navbar navbar-default">
                                    <div class="container-fluid">
                                        <!-- Brand and toggle get grouped for better mobile display -->
                                        <div class="navbar-header">
                                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                                <span class="sr-only">Toggle navigation</span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>

                                            </button>

                                        </div>

                                        <!-- Collect the nav links, forms, and other content for toggling -->



                                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                                            <ul class="nav navbar-nav navbar-right">
                                                <li><a href="#home">HOME</a></li>
                                                <li><a href="#history">ABOUT US</a></li>
                                                <li><a href="#portfolio">GALLERY</a></li>
                                                <li><a href="#blog">BLOG</a></li>
                                                <li><a href="#contact">CONTACT</a></li>
                                                <li><a href="/loginmodule/login/">Login</a></li>
                                                <li><a href="/Registration/register/">Sign Up</a></li>
                                            </ul>


                                        </div>

                                    </div>
                                </nav>
                            </div>
                        </div>

                    </div>

                </div>

            </header> <!--End of header -->




            <!--home Section -->
            <a class="navbar-brand" href="#home">
                <img src="{% static 'assets/img/welcome/logo11.png' %}" width="50%" />
            </a>
            <section id="home" class="home">
                <div class="overlay">
                    <div class="home_skew_border">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12 ">
                                    <div class="main_home_slider text-center">
                                        <div class="single_home_slider">
                                            <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                                                <h3>Our Clients Are Our First Priority</h3>
                                                <h1>WELCOME TO ONLINE VOTING PORTAL</h1>
                                                <div class="separator"></div>
                                                <h3>Because Your vote matters...</h3>


                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="scrooldown">
                            <a href="#feature"><i class="fa fa-arrow-down"></i></a>
                        </div>
                    </div>
                </div>
            </section><!--End of home section -->


            <!--feature section -->
            <section id="feature" class="feature sections">
                <div class="container">
                  <div class="row">
                      <div class="main_feature text-center">
<!--Timer clock-->
                              <div class="single_feature">
                                  <div class="single_feature_icon">
                                      <i class="fa fa-heart-o"></i>
                                  </div>

                                  <h4>CLEAN CODE</h4>
                                  <div class="separator3"></div>
                                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting let.
                                      Lorem Ipsum has been the industry.</p>
                              </div>
<!--Timer clock-->

                      </div>
                  </div>
                    <div class="row">
                        <div class="main_feature text-center">

                            <div class="col-sm-3">
                                <div class="single_feature">
                                    <div class="single_feature_icon">
                                        <i class="fa fa-bar-chart fa-2x"></i>
                                    </div>

                                    <h4>TRANSPARENT REVIWES</h4>
                                    <div class="separator3"></div>
                                    <p> instantly provides you with informative month-by-month statistics about your election beyond just who won, demonstrated at the Sample Election Results .</p>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="single_feature">
                                    <div class="single_feature_icon">
                                        <i class="fa fa-map-marker fa-2x"></i>
                                    </div>

                                    <h4>ACCURATE RESULTS</h4>
                                    <div class="separator3"></div>
                                    <p>With online voting there are no rejected, mismarked or invalid ballots. Results are automatically calculated, eliminating the need for manual tabulation and dreaded recounts. Computerized tabulation allows election managers to quickly announce decisions and results.</p>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="single_feature">
                                    <div class="single_feature_icon">
                                        <i class="fa fa-clock-o fa-2x"></i>
                                    </div>
                                    <h4>SAVING TIME</h4>
                                    <div class="separator3"></div>
                                    <p>Conducting an election should not be difficult, involve stress, or even take much time. ElectionsOnline's emphasis on innovating time-saving solutions make the job of the election manager as easy as possible.</p>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="single_feature">
                                    <div class="single_feature_icon">
                                        <i class="fa fa-comments-o fa-2x"></i>
                                    </div>

                                    <h4>FREE SUPPORT</h4>
                                    <div class="separator3"></div>
                                    <p>We'll assure your requerments and as per your feedback,changes will be implemented as fast as possible.</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div><!--End of container -->
            </section><!--End of feature Section -->
            <hr />

            <section id="history" class="history sections">
                <div class="container">
                    <div class="row">
                        <div class="main_history">
                            <div class="col-sm-6">
                                <div class="single_history_img">
                                  <img src="{% static 'assets/img/welcome/stab2.png' %}" alt="" />
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="single_history_content">
                                    <div class="head_title">
                                        <h2>WHY ONLINE</h2>
                                    </div>
                                    <p>
                                        <h4>Electronic voting maximizes participation</h4>
                                        <b>Easy and efficient</b>— takes only a minute or two to vote <br>
                                        <b>Convenient</b>— people can vote online when it suits them - there's no ballot to mail or meeting to attend<br>
                                        <p>Higher response rates — email reminders and online convenience boost participation for busy owners<br>

                                        <h4>Voting online saves money</h4>
                                        <b>No supply costs</b> — no paper ballots, no postage and no printing<br>
                                        <b>No equipment </b>— 100% hosted and electronic<br>
                                        <b>Automated </b>— no time or resources needed for manual hand counts<br>
                                        <b>Cost-effective</b> — conduct multiple votes annually<br>

                                        <h4>Voting online saves time and eases vote management</h4>
                                        <b>Quick and easy</b> — full-service setup and management saves you time, so you can work on other projects<br>
                                        <b>Automatic vote tallying</b> — no manual counts of paper ballots<br>
                                        <b>Accurate</b> — no duplicate or invalidated ballots<br>
                                        <b>No waiting for results</b> — real-time results, no waiting for ballots in the mail<br>
                                        <b>Print the results</b> — print out the results and use it to help tally physical ballots if they exist.<br>

                                        <h4>Electronic voting is private and secure</h4>
                                        <b>Private</b> — our third-party service provides a layer of separation between the voting process and individuals involved<br>
                                        <b>Secure</b> — no unsecured paper ballots<br>
                                        <b>Authentication</b> — each vote is captured with a date and timestamp along with the voter's internet address<br>

                                        <h4>Electronic voting is environment friendly</h4>
                                        <b>100% Green friendly</b> — not a single tree is harmed in this easy to use electronic voting process!<br>
                                    </p><button  class="btn btn-lg">EMBRACE CHANGES</button>
                                </div>
                            </div>
                        </div>
                    </div><!--End of row -->
                </div><!--End of container -->
            </section><!--End of history -->

            <!-- History section -->


            <!-- service Section -->
            <section id="service" class="service">
                <div class="container-fluid">
                    <div class="row">
                        <div class="main_service">
                            <div class="col-md-6 col-sm-12 no-padding">

                                <div class="single_service single_service_text text-right">
                                    <div class="head_title">
                                        <h2>OUR SERVICES</h2>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12 col-sm-10 col-xs-10 margin-bottom-60">
                                            <div class="row">

                                                <div class="col-sm-10 col-sm-offset-1 col-xs-9 col-xs-offset-1">
                                                    <article class="single_service_right_text">
                                                        <h4>MANAGING ELECTION CANDIDATES</h4>
                                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                                            Lorem Ip sum has been the industry's standard dummy text ever.</p>
                                                    </article>
                                                </div>
                                                <div class="col-sm-1 col-xs-1">
                                                    <figure class="single_service_icon">
                                                        <i class="fa fa-line-chart"></i>
                                                    </figure><!-- End of figure -->
                                                </div>
                                            </div>
                                        </div><!-- End of col-sm-12 -->

                                        <div class="col-md-12 col-sm-10 col-xs-10 margin-bottom-60">
                                            <div class="row">

                                                <div class="col-sm-10 col-sm-offset-1 col-xs-9 col-xs-offset-1">
                                                    <article class="single_service_right_text">
                                                        <h4>ACCURATE COUNTING</h4>
                                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                                            Lorem Ip sum has been the industry's standard dummy text ever.</p>
                                                    </article>
                                                </div>
                                                <div class="col-sm-1 col-xs-1">
                                                    <figure class="single_service_icon">
                                                        <i class="fa fa-fast-forward"></i>
                                                    </figure><!-- End of figure -->
                                                </div>
                                            </div>
                                        </div><!-- End of col-sm-12 -->

                                        <div class="col-md-12 col-sm-10 col-xs-10 margin-bottom-60">
                                            <div class="row">

                                                <div class="col-sm-10 col-sm-offset-1 col-xs-9 col-xs-offset-1 margin-bottom-20">
                                                    <article class="single_service_right_text">
                                                        <h4>TRANSPARENT REVIWES CHART</h4>
                                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                                            Lorem Ip sum has been the industry's standard dummy text ever.</p>
                                                    </article>
                                                </div>
                                                <div class="col-sm-1 col-xs-1">
                                                    <figure class="single_service_icon">
                                                        <i class="fa fa-globe"></i>
                                                    </figure><!-- End of figure -->
                                                </div>
                                            </div>
                                        </div><!-- End of col-sm-12 -->

                                    </div>
                                </div>
                            </div><!-- End of col-sm-6 -->

                            <div class="col-md-6 col-sm-12 no-padding">
                                <figure class="single_service single_service_img">
                                    <div class="overlay-img"></div>
                                    <img src="{% static 'assets/img/welcome/servicerightimg.jpg' %}" alt="" />
                                </figure><!-- End of figure -->
                            </div><!-- End of col-sm-6 -->

                        </div>
                    </div><!-- End of row -->
                </div><!-- End of Container-fluid -->
            </section><!-- End of service Section -->


            <section id="portfolio" class="portfolio sections">
                <div class="container-fluid">
                    <div class="row">
                        <div class="main_portfolio">
                            <div class="col-sm-12">
                                <div class="head_title text-center">
                                    <h2>RECENT WORKS</h2>
                                    <div class="subtitle">
                                        It has survived not only five centuries, but also the leap scrambled it to make a type.
                                    </div>
                                    <div class="separator"></div>
                                </div>
                            </div>
                            <div class="work_menu text-center">
                                <div id="filters" class="toolbar mb2 mt2">
                                    <button class="btn-md fil-cat filter active" data-filter="all">ALL</button>/
                                    <button class="btn-md fil-cat filter" data-rel="web" data-filter=".web">Election 2016</button>/
                                    <button class="btn-md fil-cat filter" data-rel="design" data-filter=".design">Election 2012</button>/
                                    <button class="btn-md fil-cat filter" data-rel="flyers" data-filter=".flyers">Election 2008</button>/

                                </div>

                            </div>

                            <div style="clear:both;"></div>
                            <div id="portfoliowork">
                                <div class="single_portfolio tile scale-anm web grid-item-width2 video" >
                                    <img src="{% static 'assets/img/welcome/1.jpg' %}" alt="" />
                                    <a href="{% static 'assets/img/welcome/1.jpg' %}" class="portfolio-img">
                                        <div class="grid_item_overlay">

                                        </div>
                                    </a>
                                </div>
                                <div class="single_portfolio tile scale-anm design photo" >
                                    <img src="{% static 'assets/img/welcome/2.jpg' %}" alt="" />
                                    <a href="{% static 'assets/img/welcome/2.jpg' %}" class="portfolio-img">
                                        <div class="grid_item_overlay">

                                        </div>
                                    </a>
                                </div>
                                <div class="single_portfolio tile scale-anm web video">
                                    <img src="{% static 'assets/img/welcome/3.jpg' %}" alt="" />
                                    <a href="{% static 'assets/img/welcome/3.jpg' %}" class="portfolio-img">
                                        <div class="grid_item_overlay">

                                        </div>
                                    </a>
                                </div>
                                <div class="single_portfolio tile scale-anm design photo" >
                                    <img src="{% static 'assets/img/welcome/4.jpg' %}" alt="" />
                                    <a href="{% static 'assets/img/welcome/4.jpg' %}" class="portfolio-img">
                                        <div class="grid_item_overlay">

                                        </div>
                                    </a>
                                </div>
                                <div class="single_portfolio tile scale-anm design design" >
                                    <img src="{% static 'assets/img/welcome/5.jpg' %}" alt="" />
                                    <a href="{% static 'assets/img/welcome/5.jpg' %}" class="portfolio-img">
                                        <div class="grid_item_overlay">

                                        </div>
                                    </a>
                                </div>

                                <div class="single_portfolio tile scale-anm flyers video design">
                                    <img src="{% static 'assets/img/welcome/6.jpg' %}" alt="" />
                                    <a href="{% static 'assets/img/welcome/6.jpg' %}" class="portfolio-img">
                                        <div class="grid_item_overlay">

                                        </div>
                                    </a>
                                </div>
                                <div class="single_portfolio tile scale-anm photo flyers">
                                    <img src="{% static 'assets/img/welcome/7.jpg' %}" alt="" />
                                    <a href="{% static 'assets/img/welcome/7.jpg' %}" class="portfolio-img">
                                        <div class="grid_item_overlay">

                                        </div>
                                    </a>
                                </div>

                                <div class="single_portfolio tile scale-anm flyers video" >
                                    <img src="{% static 'assets/img/welcome/8.jpg' %}" alt="" />
                                    <a href="{% static 'assets/img/welcome/8.jpg' %}" class="portfolio-img">
                                        <div class="grid_item_overlay">

                                        </div>
                                    </a>
                                </div>

                            </div>

                            <div style="clear:both;"></div>
                        </div>
                    </div>
                </div><!-- End off container -->
            </section> <!-- End off Work Section -->
<!-- pricing Work Section
            <section id="pricing" class="history sections">
                <div class="container">
                    <div class="row">
                        <div class="main_history">
                            <div class="col-sm-6">
                                <div class="single_history_img">
                                    <img src="assets/images/stab2.png" alt="" />
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="single_history_content">
                                    <div class="head_title">
                                        <h2>OUR HISTORY</h2>
                                    </div>
                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page
                                        when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                                        distribution of letters, as opposed to using 'Content here, content here', making it
                                        look like readable English. Many desktop publishing packages and web page editors now use
                                        Lorem Ipsum as their default model text, and a search for 'lorem ipsum' </p>

                                    <a href="" class="btn btn-lg">BROWSE OUR WORK</a>
                                </div>
                            </div>
                        </div>
                    </div><!--End of row --
                </div><!--End of container --
            </section><!--End of history -->


            <!-- Study Section -->
            <section id="study" class="study text-center wow fadeIn"  data-wow-duration="2s" data-wow-dealy="1.5s">
                <div class="container">
                    <div class="row">
                        <div class="main_study_area sections">
                            <div class="head_title text-center">
                                <h2>Thoughts</h2>
                                <div class="subtitle">
                                    A brief story about how this process works, keep an eye till the end.
                                </div>
                                <div class="separator"></div>
                            </div>
                            <div class="single_study_content">
                                <div class="col-sm-6">
                                    <div class="single_study_slid_area">

                                        <div class="single_study_text">
                                            <div class="study_slider">
                                                <div class="item">

                                                    <div class="separator3"></div>
                                                    <i class="fa fa-quote-left fa-3x fa-pull-left " aria-hidden="true"></i>
                                                    <h2>The future depends on what we do in the present.</h2>
                                                    <i class="fa fa-quote-right fa-3x fa-pull-right " aria-hidden="true"></i>
                                                    <h5 style="align-content: right">-Mahatma Gandhi</h5>

                                                </div>
                                                <div class="item">

                                                    <div class="separator3"></div>
                                                    <i class="fa fa-quote-left fa-3x fa-pull-left " aria-hidden="true"></i>
                                                    <h2>And in the end, it's not the years in your life that count. It's the life in your years.</h2>
                                                    <i class="fa fa-quote-right fa-3x fa-pull-right " aria-hidden="true"></i>
                                                    <h4 style="align-content: right">-Abraham Lincoln</h4>

                                                </div>
                                                <div class="item">

                                                    <div class="separator3"></div>
                                                    <i class="fa fa-quote-left fa-3x fa-pull-left " aria-hidden="true"></i>
                                                    <h2>Success consists of going from failure to failure without loss of enthusiasm.</h2>
                                                    <i class="fa fa-quote-right fa-3x fa-pull-right " aria-hidden="true"></i>
                                                    <h4 style="align-content: right">-Winston Churchill</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="single_study_right_img">
                                    <div class="col-sm-6">
                                        <div class="single_study_img">
                                            <img src="{% static 'assets/img/welcome/study.jpg' %}" alt="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End off row -->
                </div><!-- End off Container -->
            </section><!-- End off Study Section -->


            <!-- Counter Section
            <section id="counter" class="counter">
                <div class="video_overlay">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="main_counter_area text-center">

                                    <div class="row">
                                        <div class="single_counter border_right">
                                            <div class="col-sm-3 col-xs-12">
                                                <div class="single_counter_item">
                                                    <i class="icon icon-thumbs-up"></i>
                                                    <h2 class="statistic-counter">3891</h2>
                                                    <h4 class="">User Favourites</h4>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="single_counter">
                                            <div class="col-sm-3 col-xs-12">
                                                <div class="single_counter_item">
                                                    <i class="icon icon-business-3"></i>
                                                    <h2 class="statistic-counter">281</h2>
                                                    <h4 class="">Posts Last 24 Hours</h4>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="single_counter">
                                            <div class="col-sm-3 col-xs-12">
                                                <div class="single_counter_item">
                                                    <i class="icon icon-people-32"></i>
                                                    <h2 class="statistic-counter">618</h2>
                                                    <h4 class="">Total Posts</h4>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="single_counter">
                                            <div class="col-sm-3 col-xs-12">
                                                <div class="single_counter_item">
                                                    <i class="icon icon-cup"></i>
                                                    <h2 class="statistic-counter">178</h2>
                                                    <h4 class="">Amazing Features</h4>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- End off container
            </section>   <!-- End of counter section -->

            <!-- Pricing Section -->

            <!-- Team Section
            <section id="team" class="team">
                <div class="main_team_area">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="head_title textwhite text-center margin-top-80">
                                    <h2>OUR TEAM</h2>
                                    <div class="subtitle">
                                        Meet the craziest team. Share your thoughts with them.
                                    </div>
                                    <div class="separator"></div>
                                </div><!-- End off Head_title

                                <div class="main_team">
                                    <ul>
                                        <li>
                                            <div class="single_team_img">
                                                <img src="assets/images/team1.jpg" alt="" />
                                            </div>
                                            <div class="single_team_text">
                                                <h4>Semf Ucuk</h4>
                                                <p>Founder</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="single_team_img">
                                                <img src="assets/images/team2.jpg" alt="" />
                                            </div>
                                            <div class="single_team_text">
                                                <h4>Kazi Erfan</h4>
                                                <p>Engineering</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="single_team_img">
                                                <img src="assets/images/team3.jpg" alt="" />
                                            </div>
                                            <div class="single_team_text">
                                                <h4>Jeng Koli</h4>
                                                <p>Designer</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="single_team_img">
                                                <img src="assets/images/team4.jpg" alt="" />
                                            </div>
                                            <div class="single_team_text">
                                                <h4>Pet Romak</h4>
                                                <p>Marketing</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="single_team_img">
                                                <img src="assets/images/test2.jpg" alt="" />
                                            </div>
                                            <div class="single_team_text">
                                                <h4>Chet Pok</h4>
                                                <p>Web Developer</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                            </div><!-- End of main team contant
                        </div>
                    </div><!-- End of container
                </div>
            </section><!-- End off Team Section -->

            <!-- Client Logo Section
            <section id="clogo" class="clogo">
                <div class="container">
                    <div class="row">
                        <div class="main_clogo sections text-center">
                            <div class="head_title text-center">
                                <h2>Great Integrations with Others</h2>
                                <div class="subtitle">
                                    Suspendisse sed eros mollis, tincidunt felis eget, interdum erat.
                                    Nullam sit amet odio eu est aliquet euismod a a urna. Proin eu urna suscipit, dictum quam nec.
                                </div>
                                <div class="separator"></div>
                            </div><!-- End off Head_title

                            <div class="col-sm-3 col-xs-6">
                                <a href=""><img src="assets/images/clogo1.png" alt="" /></a>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <a href=""><img src="assets/images/clogo2.png" alt="" /></a>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <a href=""><img src="assets/images/clogo3.png" alt="" /></a>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <a href=""><img src="assets/images/clogo4.png" alt="" /></a>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <a href=""><img src="assets/images/clogo5.png" alt="" /></a>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <a href=""><img src="assets/images/clogo6.png" alt="" /></a>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <a href=""><img src="assets/images/clogo9.png" alt="" /></a>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <a href=""><img src="assets/images/clogo8.png" alt="" /></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="divider"></div>
            </section> End off clogo Section -->


            <!-- Blog Section -->
            <section id="blog" class="blog">
                <div class="container-fluid">
                    <div class="row">
                        <div class="main_blog sections">
                            <div class="head_title text-center">
                                <h2>BLOGS</h2>
                                <div class="subtitle">
                                  Glims of previous Elections,but now it's time to change
                                </div>
                                <div class="separator"></div>
                            </div><!-- End off Head_title -->

                            <div class="main_blog_content">
                                <div class="col-sm-6">
                                    <div class="single_blog_area textwhite">
                                        <div class="row">
                                            <div class="col-sm-6 no-padding">
                                                <div class="single_blog_img">
                                                    <img src="{% static 'assets/img/welcome/1.jpg' %}" alt="" />
                                                </div>
                                            </div>
                                            <div class="col-sm-6 no-padding">
                                                <div class="single_blog_text s_b_left">
                                                    <p>April,2012</p>
                                                    <h3>Glory Of Victory</h3>
                                                    <div class="separator2"></div>
                                                    <p>In winning Gujarat and Himachal Pradesh elections, Prime Minister Narendra Modi has once again proved a master strategist. Ad hoc theories are being offered to fit specific results.Politics is mostly marketing.</p>

                                                    <a href="https://blogs.timesofindia.indiatimes.com/toi-edit-page/modis-winning-strategy-credible-and-consistent-positioning-is-the-key-to-successful-marketing-in-politics/" class="read_more">Read More >></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="single_blog_area textwhite">
                                        <div class="row">
                                            <div class="col-sm-6 no-padding">
                                                <div class="single_blog_img">
                                                    <img src="{% static 'assets/img/welcome/2.jpg' %}" alt="" />
                                                </div>
                                            </div>
                                            <div class="col-sm-6 no-padding">
                                                <div class="single_blog_text s_b_left">
                                                    <p>April,2016</p>
                                                    <h3>Election Commision of India</h3>
                                                    <div class="separator2"></div>
                                                    <p>The Election Commission of India is an autonomous constitutional authority responsible for administering election processes in India.</p>
                                                    <br>
                                                    <a href="http://eci.nic.in/eci/eci.html" class="read_more">Read More >></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="single_blog_area textwhite">
                                        <div class="row">

                                            <div class="col-sm-6 col-sm-push-6 no-padding">
                                                <div class="single_blog_img">
                                                    <img src="{% static 'assets/img/welcome/3.jpg' %}" alt="" />
                                                </div>
                                            </div>

                                            <div class="col-sm-6 col-sm-pull-6 no-padding">
                                                <div class="single_blog_text s_b_right">
                                                    <p>April,2016</p>
                                                    <h3>Rsponsible Citizens</h3>
                                                    <div class="separator2"></div>
                                                    <p>Once they are registered to vote, people should then make every effort to vote in local, state, and federal elections. Many people dismiss this responsibility by saying that they do not care about the issues on the ballot. </p>

                                                    <a href="http://www.civics-online.org/voting-rights/four-important-responsibilities-of-voters/" class="read_more">Read More >></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="single_blog_area textwhite">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-push-6 no-padding">
                                                <div class="single_blog_img">
                                                    <img src="{% static 'assets/img/welcome/4.jpg' %}" alt="" />
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-sm-pull-6 no-padding">
                                                <div class="single_blog_text s_b_right">
                                                    <p>April,2012</p>
                                                    <h3>Beauty Of Ink</h3>
                                                    <div class="separator2"></div>
                                                    <p>Election ink was conceptualised following India’s first election in the 1950s. Many cases of identity theft were reported with people casting their votes twice. The ink was first used during India’s third elections.</p>

                                                    <a href="https://www.getsavvi.co.za/community/lifestyle-fitness/a-to-z-of-election-ink" class="read_more">Read More >></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div><!-- End off container -->
            </section><!-- End off Blog Section -->


            <section id="contact" class="contact">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="contact_contant sections">
                                <div class="head_title text-center">
                                    <h2>kEEP IN TOUCH</h2>
                                    <div class="subtitle">
                                      Your suggesions are our goals to achive and satisfy user requerments.keep suggesting and Enjoy the journey.
                                    </div>
                                    <div class="separator"></div>
                                </div><!-- End off Head_title -->
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="main_contact_info">
                                            <div class="row">
                                                <div class="contact_info_content padding-top-90 padding-bottom-60 p_l_r">

                                                    <div class="col-sm-12">
                                                        <div class="single_contact_info">
                                                            <div class="single_info_text">
                                                                <h3>CALL US</h3>
                                                                <h4>+91-8141360202</h4>
                                                                <h4>0265-2712513</h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div class="single_contact_info">
                                                            <div class="single_info_text">
                                                                <h3>EMAIL US</h3>
                                                                <h4>evotingsupport@gmail.com</h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="single_contant_left padding-top-90 padding-bottom-90">
                                            <form action="#" id="formid">
                                                <div class="col-lg-8 col-md-8 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">

                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" name="name" placeholder="First Name" required="">
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <input type="email" class="form-control" name="email" placeholder="Email" required="">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" name="subject" placeholder="Subject" required="">
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="form-group">
                                                        <textarea class="form-control" name="message" rows="7" placeholder="Message"></textarea>
                                                    </div>

                                                    <div class="">
                                                        <input type="submit" value="SEND MESSAGE" class="btn btn-lg">
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!-- End of contact section -->

            <section id="trial" class="trial text-center wow fadeIn"  data-wow-duration="2s" data-wow-dealy="1.5s">
                <div class="main_trial_area">
                    <div class="video_overlay sections">
                        <div class="container">
                            <div class="row">
                                <div class="main_trial">
                                    <div class="col-sm-12">
                                        <h2>Let's Get Started Now.</h2>
                                        <h2> <span>MAKE CHANGE. </span><span>BE THE CHANGE</span></h2>
                                        <h4></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!-- End of Trial section -->


            <!--Footer section-->
            <section class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="main_footer">
                                <div class="row">
                                    <div class="col-sm-6 col-xs-12">
                                        <div class="flowus">
                                            <a href=""><i class="fa fa-facebook"></i></a>
                                            <a href=""><i class="fa fa-twitter"></i></a>
                                            <a href=""><i class="fa fa-google-plus"></i></a>
                                            <a href=""><i class="fa fa-instagram"></i></a>
                                            <a href=""><i class="fa fa-youtube"></i></a>
                                            <a href=""><i class="fa fa-dribbble"></i></a>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 col-xs-12">
                                        <div class="copyright_text">
                                            <p class=" wow fadeInRight" data-wow-duration="1s">Made with <i class="fa fa-heart"></i> by <a href="http://bootstrapthemes.co">Bootstrap Themes</a>2018. All Rights Reserved</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!-- End off footer Section-->











        </div>

        <!-- START SCROLL TO TOP  -->

        <div class="scrollup">
            <a href="#"><i class="fa fa-chevron-up"></i></a>
        </div>

        <script src="{% static 'assets/js/welcome/vendor/jquery-1.11.2.min.js' %}"></script>
        <script src="{% static 'assets/js/welcome/vendor/bootstrap.min.js' %}"></script>

        <script src="{% static 'assets/js/welcome/jquery.magnific-popup.js' %}"></script>
        <script src="{% static 'assets/js/welcome/jquery.mixitup.min.js' %}"></script>
        <script src="{% static 'assets/js/welcome/jquery.easing.1.3.js' %}"></script>
        <script src="{% static 'assets/js/welcome/jquery.masonry.min.js' %}"></script>

        <!--slick slide js -->
        <script src="{% static 'assets/css/welcome/slick/slick.js' %}"></script>
        <script src="{% static 'assets/css/welcome/slick/slick.min.js' %}"></script>


        <script src="{% static 'assets/js/welcome/plugins.js' %}"></script>
        <script src="{% static 'assets/js/welcome/main.js' %}"></script>

    </body>
</html>
